@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Aileron;
    letter-spacing: 1px;
}

@font-face {
    font-family: Oregon;
    src: url('../assest/fonts/oregon.ttf');
}
@font-face {
    font-family: Aileron;
    src: url('../assest/fonts/aileron/Aileron-Regular.otf');
}

.fontFamily{
    font-family: Aileron;
}